<div class="container-fluid mt-3">
  <div class="row">
    <!-- Main content -->
    <nav
      aria-label="breadcrumb"
      class="d-flex justify-content-between align-items-center"
    >
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Product Management
        </li>
      </ol>
      <!-- Add New Category Button -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addProductModel"
      >
        Add New Product
      </button>
    </nav>
    <div class="container mt-3">
      <div class="row">
        <div class="table-responsive">
          <table class="table text-light">
            <thead>
              <tr>
                <th scope="col">Sl</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach((product, index) => { %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= product.name %></td>
                <td><%= product.categoryDetails.name %></td>
                <td>₹<%= product.price.toFixed(2) %></td>
                <td>
                  <div class="d-flex gap-2">
                    <a
                      href="/admin/products/edit/<%= product._id %>"
                      class="btn btn-warning text-white"
                    >
                      Edit
                    </a>
                    <form
                      action="/admin/products/toggle-status/<%= product._id %>"
                      method="POST"
                      style="display: inline"
                    >
                      <button
                        type="submit"
                        class="btn <%= product.isActive ? 'btn-dark' : 'btn-success' %>"
                      >
                        <%= product.isActive ? "Unlist" : "List" %>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Product Modal -->
<div
  class="modal fade"
  id="addProductModel"
  tabindex="-1"
  aria-labelledby="addProductModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModelLabel">Add New Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/admin/products/add" method="POST"  enctype="multipart/form-data">
        <div class="modal-body">
          <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="productDescription" class="form-label"
              >Description</label
            >
            <textarea
              class="form-control"
              id="productDescription"
              name="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="productPrice" class="form-label">Product Price</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              name="price"
              required
            />
          </div>
          <div class="mb-3">
            <label for="productCategory" class="form-label">Category</label>
            <select
              class="form-select"
              id="productCategory"
              name="categoryId"
              required
            >
              <option selected disabled value="">Choose a category</option>
              <% categories.forEach(category => { %>
              <option value="<%= category._id %>"><%= category.name %></option>
              <% }); %>
            </select>
          </div>
          <!-- Image Uploads -->
          <!-- <div class="mb-3">
            <label class="form-label">Product Images</label>
            <div class="d-flex justify-content-between">
              <div class="text-center">
                <label for="productImage1" class="form-label d-block">
                  <div
                    class="image-upload-container"
                    style="
                      width: 150px;
                      height: 150px;
                      border: 2px dashed #ccc;
                      position: relative;
                    "
                  >
                    <span
                      class="plus-icon"
                      style="
                        font-size: 24px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      "
                    >
                      +
                    </span>
                    <input
                      type="file"
                      class="form-control"
                      id="productImage1"
                      name="images"
                      accept="image/*"
                      style="
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                      "
                      onchange="previewImage(event, 'preview1')"
                      required
                    />
                  </div>
                </label>
                <img
                  id="preview1"
                  src=""
                  alt=""
                  style="display: none; width: 150px;"
                />
              </div>

              <div class="text-center">
                <label for="productImage2" class="form-label d-block">
                  <div
                    class="image-upload-container"
                    style="
                      width: 150px;
                      height: 150px;
                      border: 2px dashed #ccc;
                      position: relative;
                    "
                  >
                    <span
                      class="plus-icon"
                      style="
                        font-size: 24px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      "
                    >
                      +
                    </span>
                    <input
                      type="file"
                      class="form-control"
                      id="productImage2"
                      name="images"
                      accept="image/*"
                      style="
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                      "
                      onchange="previewImage(event, 'preview2')"
                    />
                  </div>
                </label>
                <img
                  id="preview2"
                  src=""
                  alt=""
                  style="display: none; width: 150px;"
                />
              </div>

              <div class="text-center">
                <label for="productImage3" class="form-label d-block">
                  <div
                    class="image-upload-container"
                    style="
                      width: 150px;
                      height: 150px;
                      border: 2px dashed #ccc;
                      position: relative;
                    "
                  >
                    <span
                      class="plus-icon"
                      style="
                        font-size: 24px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      "
                    >
                      +
                    </span>
                    <input
                      type="file"
                      class="form-control"
                      id="productImage3"
                      name="images"
                      accept="image/*"
                      style="
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                      "
                      onchange="previewImage(event, 'preview3')"
                    />
                  </div>
                </label>
                <img
                  id="preview3"
                  src=""
                  alt=""
                  style="display: none; width: 150px;"
                />
              </div>
            </div>
          </div> -->
          <input type="file" name="images" multiple>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
      </form>
    </div>
  </div>
</div>
