<!-- Sidebar -->
<nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar">
  <div class="position-sticky vh-100">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'dashboard' ? 'active' : '' %>"
          href="/admin"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'users' ? 'active' : '' %>"
          href="/admin/users"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'products' ? 'active' : '' %>"
          href="/admin/products"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'orders' ? 'active' : '' %>"
          href="/admin/orders"
          >Orders</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'category' ? 'active' : '' %>"
          href="/admin/category"
          >Category</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'coupon' ? 'active' : '' %>"
          href="/admin/coupon"
          >Coupon</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'offer' ? 'active' : '' %>"
          href="/admin/offer"
          >Offer</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-outline-primary my-2 <%= activePage === 'deal' ? 'active' : '' %>"
          href="/admin/deal"
          >Deal</a
        >
      </li>
    </ul>
  </div>
</nav>