<!-- Sidebar -->
<nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar">
  <div class="position-sticky vh-100">
    <div class="admin-profile p-3 text-center">
      <img
        src="/images/svg/user.svg"
        alt="Admin Profile Picture"
        class="img-fluid rounded-circle mb-2"
        style="width: 60px; height: 60px"
      />
      <h5 class="mb-0">Ijas Ahammed</h5>
      <small class="text-muted">Gold Member</small>
    </div>
    <div class="mt-4">
      <p class="text-uppercase text-muted px-3">Navigation</p>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'dashboard' ? 'active' : '' %>"
            href="/admin"
            ><i class="fas fa-tachometer-alt me-2"></i> Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'users' ? 'active' : '' %>"
            href="/admin/users"
            ><i class="fas fa-users me-2"></i> Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'products' ? 'active' : '' %>"
            href="/admin/products"
            ><i class="fas fa-boxes me-2"></i> Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'orders' ? 'active' : '' %>"
            href="/admin/orders"
            ><i class="fas fa-shopping-cart me-2"></i> Orders</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'category' ? 'active' : '' %>"
            href="/admin/category"
            ><i class="fas fa-tags me-2"></i> Category</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'coupon' ? 'active' : '' %>"
            href="/admin/coupon"
            ><i class="fas fa-ticket-alt me-2"></i> Coupon</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'offer' ? 'active' : '' %>"
            href="/admin/offer"
            ><i class="fas fa-gift me-2"></i> Offer</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-secondary my-2 <%= activePage === 'deal' ? 'active' : '' %>"
            href="/admin/deal"
            ><i class="fas fa-handshake me-2"></i> Deal</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
